<div class="row">
<div class="col-xs-12">
<accordion close-others="oneAtATime">
    <accordion-group class="panel panel-primary" data-ng-init="status.isFirstOpen=true" is-open="status.isFirstOpen">
        <accordion-heading>
            Gestion des données<i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': status.isFirstOpen, 'glyphicon-chevron-right': !status.isFirstOpen}"></i>
        </accordion-heading>
        <div class="row">
            <div class="col-xs-12">
                <form name="frmDatamgmt" class="form-horizontal" role="form" novalidate>
                    <div class="form-group">
                        <label class="col-xs-12 col-sm-4 control-label">Environnement courant</label>
                        <div class="col-xs-9 col-sm-7">
                        <!-- bug: regexp bug
                            <input name="inFilename" type="text" class="form-control" placeholder="Nom sauvegarde" data-ng-model="general.filename" minlength="1" maxlength="20" data-ng-minlength="1" data-ng-maxlength="20" data-ng-pattern="regexps.filename" required>
                        -->
                            <input name="inFilename" type="text" class="form-control" data-ng-model="general.filename" disabled>
                        </div>
                        <div class="col-xs-3 col-sm-1">
                            <button type="submit" class="btn btn-primary" data-ng-click="saveData()" data-ng-disabled="(frmDatamgmt.inFilename.$error.required || frmDatamgmt.inFilename.$error.maxlength || frmDatamgmt.inFilename.$error.minlength || frmDatamgmt.inFilename.$error.pattern)"><i data-ng-class="{'fa':true, 'fa-save':!isSaving, 'fa fa-cog fa-spin':isSaving}"></i></button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-4 control-label">Nouvel environnement</label>
                        <div class="col-xs-9 col-sm-7">
                            <input name="newFilename" type="text" class="form-control" placeholder="Nom sauvegarde" data-ng-model="newFilename" minlength="1" maxlength="20" data-ng-minlength="1" data-ng-maxlength="20" required>
                        </div>
                        <div class="col-xs-3 col-sm-1">
                            <button type="submit" class="btn btn-primary" data-ng-click="createNew(newFilename)" ><i class="fa fa-plus"></i></button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Exporter l'environnement actuel</label>
                        <div class="col-xs-9 col-sm-7">
                            <select class="form-control" data-ng-model="currFileType" data-ng-options="fileType for fileType in fileTypes"></select>
                        </div>
                        <div class="col-xs-3 col-sm-1">
                            <button type="button" class="btn btn-primary" data-ng-click="exportData(currFileType)">
                                <i data-ng-class="{'fa': true, 
                                                   'fa-file-code-o': (currFileType == 'json'),
                                                   'fa-file-excel-o': (currFileType == 'csv')}"></i>
                            </button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-4 control-label">Charger <span data-ng-hide="isConnected"> (hors ligne)</span> </label>
                        <div class="col-xs-9 col-sm-7">
                            <select class="form-control" data-ng-init="selectedFile=files[0]" data-ng-model="selectedFile" data-ng-options="file for file in files"></select>
                        </div>
                        <div class="col-xs-3 col-sm-1">
                            <button class="btn btn-primary" data-ng-click="load(selectedFile)" data-ng-disabled="!selectedFile || selectedFile.length==0"><i data-ng-class="{'fa':true, 'fa-cloud-upload':!isLoading, 'fa fa-cog fa-spin':isLoading}"></i></button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-sm-4 control-label">Charger un fichier</label>
                        <div class="col-xs-9 col-sm-7">
                            <input id="idlocalfileinput" class="form-control" type="file" name="externalfile" data-ng-model="externalfile"/>
                        </div>
                        <div class="col-xs-3 col-sm-1">
                            <button data-ng-class="{'btn':true, 'btn-primary': !loadExtFileError, 'btn-danger': loadExtFileError}" data-ng-click="loadFile(externalfile)" ><i data-ng-class="{'fa':true, 'fa-hdd-o':!isExtLoading, 'fa fa-cog fa-spin':isExtLoading, 'btn-primary': !loadExtFileError, 'btn-danger': loadExtFileError}"></i> </button>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-12 col-md-4 control-label">Réinitialiser l'environnement</label>
                        <div class="col-xs-9 col-md-7">
                            <select class="form-control" data-ng-init="fileToInit=files[0]" data-ng-model="fileToInit" data-ng-options="file for file in files"></select>
                        </div>
                        <div class="col-xs-3 col-md-1">
                            <button class="btn btn-primary" data-ng-click="initFile(fileToInit)"  data-ng-disabled="!fileToInit || fileToInit.length==0"><i data-ng-class="{'fa':true, 'fa-eraser':!isInitializingFile, 'fa fa-cog fa-spin':isInitializingFile}"></i> </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </accordion-group>

    <accordion-group class="panel panel-primary" is-open="status.isSecondOpen" data-ng-init="status.isSecondOpen=false">
        <accordion-heading>
            Paramètres e-mail <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isSecondOpen, 'glyphicon-chevron-right': !status.isSecondOpen}"></i>
        </accordion-heading>
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" role="form" novalidate>
                    <div class="form-group" data-ng-init="advanced=false">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <label class="checkbox">
                                <input type="checkbox" data-ng-model="advanced">
                                Paramètres avancés
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Destinataires</label>
                        <div class="col-sm-8">
                            <input id="CliPolicy" type="text" class="form-control" data-ng-model="mail.mailto">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">En copie</label>
                        <div class="col-sm-8">
                            <input id="CliPolicy" type="text" class="form-control" data-ng-model="mail.cc">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Sujet</label>
                        <div class="col-sm-8">
                            <input id="CliPolicy" type="text" class="form-control" data-ng-model="mail.subject">
                        </div>
                    </div>
                     <div class="form-group" data-ng-hide="!advanced">
                        <label class="col-sm-4 control-label">Seuil d'alerte</label>
                        <div class="col-sm-8">
                            <input id="CliPolicy" type="number" class="form-control" data-ng-model="mail.alert" min="0" max="10">
                        </div>
                    </div>
                     <div class="form-group" data-ng-hide="!advanced">
                        <label class="col-sm-4 control-label">Format de la liste</label>
                        <div class="col-sm-8">
                            <input id="CliPolicy" type="text" class="form-control" data-ng-model="mail.listformat">
                        </div>
                    </div>
                    <div class="form-group" data-ng-hide="!advanced">
                        <label class="col-sm-4 control-label">Format des dates</label>
                        <div class="col-sm-8">
                            <input id="CliPolicy" type="text" class="form-control" data-ng-model="mail.dateformat">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Corps</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="12" data-ng-model="mail.body" data-ng-readonly="readOnly" data-ng-maxlength="255"></textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </accordion-group>

    <accordion-group class="panel panel-primary" data-ng-init="status.isThirdOpen=false" is-open="status.isThirdOpen">
        <accordion-heading>
            Général<i class="pull-right glyphicon" data-ng-class="{'glyphicon-chevron-down': status.isThirdOpen, 'glyphicon-chevron-right': !status.isThirdOpen}"></i>
        </accordion-heading>
        <div class="row">
            <div class="col-xs-12">
                <form class="form-horizontal" role="form" novalidate>
                    <div class="form-group">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-8">
                            <label class="checkbox">
                                <input type="checkbox" data-ng-model="configuration.useAdditionalInfo">
                                Utiliser les infos étendues
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </accordion-group>
</accordion>
</div>
</div>