<!--
<div class="row">
	<h1 class="page-header">
		Inscriptions
		<small>Editer les inscriptions.</small>
	</h1>
</div>
-->
<div id="editregistrations" class="table-responsive">
	<form name="myForm">
		<table class="table">
			<thead>
				<tr>
					<th>
						<select class="form-control" data-ng-model="selStudent" data-ng-change="setNewRegDefault({studentId:selStudent.id, courseId:selCourse.id})" data-ng-options="s as s.lastname + ', ' + s.firstname for s in students | orderBy:'lastname'">
							<option value="">Elève</option>
						</select>
					</th>
					<th >
						<select class="form-control" data-ng-model="selCourse" data-ng-init="selCourse=courses[0]" data-ng-options="c as c.label for c in courses | orderBy:'label'">
							<option value="" placeholder="test">Cours</option>
						</select>
					</th>
					<th><label class="badge">{{filteredRegistrations.length}}</label></th>
					<th ></th>
					
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="r in filteredRegistrations = (registrations | filter:{studentId:selStudent.id, courseId:selCourse.id}:true)"  data-ng-init="r.edit=false">
					<td>
						<select class="form-control" data-ng-model="r.studentId" data-ng-options="s.id as s.lastname + ', ' + s.firstname for s in students" data-ng-disabled="!r.edit"></select>
					</td>				
					<td>
						<select class="form-control" data-ng-model="r.courseId" data-ng-options="c.id as c.label for c in courses" data-ng-disabled="!r.edit"></select>
					</td>
					<!-- boutons editer et créer-->
					<td>
						<button class='btn btn-primary' data-ng-hide="r.edit" data-ng-click="r.edit=!r.edit"><i class="fa fa-pencil"></i></button>
						<button class='btn btn-success' data-ng-hide="!(r.edit)" data-ng-click="saveRegistration(r)" data-ng-disabled="!((r.studentId != null) && (r.courseId != null))"><i class="fa fa-save"></i></button>
					</td>
					<td>
						<button class='btn btn-default' data-ng-disabled="r.edit" data-ng-click="deleteReg(r)"><i class="red fa fa-close"></i></button>
					</td>
				</tr>
				<tr data-ng-init="initNewReg()">
					<td>
						<select class="form-control" data-ng-model="newRegistration.studentId" data-ng-options="s.id as s.lastname + ', ' + s.firstname for s in students | orderBy:'lastname'"></select>
					</td>				
					<td>
						<select class="form-control" data-ng-model="newRegistration.courseId" data-ng-options="c.id as c.label for c in courses  | orderBy:'label'"></select>
					</td>
					<td><button class='btn btn-danger' data-ng-click="addRegistration()" data-ng-disabled="!(isValidNewReg(newRegistration))"><i class="fa fa-save"></i></button></td>
				</tr>
			</tbody>
		</table>
	</form>

</div>
