<!--
<div class="row">
	<h1 class="page-header">
		Niveaux
		<small>Editer les niveaux.</small>
	</h1>
</div>
-->
<div id="editlevels" class="row">
	<div id="editlevels" class="col-xs-12">
		<form name="myForm">
			<table class="table table-responsive">
				<thead>
					<tr>
						<th class="">
							Num
						</th>
						<th class="">
							{{uiMessages.label}}
						</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
					<tbody>
					<tr data-ng-repeat="l in levels | filter:search:strict"  data-ng-init="l.edit=false">
						<form>
							<td><input name="inNum_{{$index}}" class="form-control" data-ng-model="l.num" data-ng-disabled="!l.edit"></td>
							<td><input  name="inLabel_{{$index}}" class="form-control" data-ng-model="l.label" data-ng-disabled="!l.edit" maxlength="100"></td>
							<!-- boutons editer et créer-->
							<td>
								<button class='btn btn-primary' data-ng-hide="l.edit" data-ng-click="l.edit=!c.edit"><i class="fa fa-pencil"></i></button>
								<button class='btn btn-success' data-ng-hide="!(l.edit)" data-ng-click="l.edit=!c.edit" data-ng-disabled="!(l.num && l.label && (l.num | number))"><i class="fa fa-save"></i></button>
							</td>
							<td>
								<button class='btn btn-default' data-ng-disabled="l.edit" data-ng-click="deleteLevel(l)"><i class="red fa fa-close"></i></button>
							</td>
						</form>
					</tr>
					<tr data-ng-init="newLevel={}">
						<form>
							<td><input name="inNumNew" type="number" class="form-control" data-ng-model="newLevel.num" placeholder="num"></td>
							<td><input name="inLabelNew" class="form-control" data-ng-model="newLevel.label" placeholder="nom" maxlength="100"></td>
							<td><button class='btn btn-danger' data-ng-click="addLevel()" data-ng-disabled="!(newLevel.num && newLevel.label && (newLevel.num | number))"><i class="fa fa-save"></i></button></td>
							<td></td>
						</form>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>